@import (reference) '../../less/variables.less';

.activity {

  &_hero {
    padding: 1rem;
  }
  
  &_content {
    padding: 2rem;

    @media only screen and (max-width: 640px) {
      padding: 1rem;
    }
  }

  &_header {
    align-items: center;
    border-bottom: 1px solid @very-light-gray;
    color: @blue-green;
    display: grid;
    grid-template: "title export add" auto ~'/' auto 5rem 2rem;
    margin-bottom: 1rem;
    padding: 1rem 1rem 0;

    @media only screen and (max-width: 640px) {
      display: grid;
      grid-template: 
        "title add"
        auto
        "export export" 
        auto
      ~'/' [export-start] 100% [export-end];
      padding-bottom: 1rem;
    }

    &-title {
      grid-area: title;
    }

    &-add {
      grid-area: add;
      padding: 0 0.5rem 0 1rem;

      @media only screen and (max-width: 640px) {
        padding: 0;
      }

      &:focus,
      &:hover {
        cursor: pointer;
      }
    }
  }

  &_export {
    color: @black;
    font-family: @font-francois;
    grid-area: export;

    &:focus,
    &:hover {
      color: @blue-green;
      cursor: pointer;
    }
  }

  &_section {
    padding: 0 1rem;

    &Header {
      align-items: center;
      display: flex;
      justify-content: space-between;
      
      &-title {
        font-family: @font-francois;
        font-size: 1.2rem;
      }

      &-arrow {
        font-size: 1.5rem;
      }

      &:focus,
      &:hover {
        color: @blue-green;
        cursor: pointer;
      }
    }
  }

  &_empty {
    font-family: @font-archivo;
    font-weight: normal;
    margin: 0;
    padding-left: 1rem;
  }
}