@import (reference) '../../less/variables.less';

.jobsSection {
  &_header {
    align-items: center;
    border-bottom: 1px solid @very-light-gray;
    color: @blue-green;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0;

    &-add {
      padding: 0 0.5rem;

      &:focus,
      &:hover {
        cursor: pointer;
      }
    }
  }
}