@import (reference) '../../less/variables.less';
@import (reference) '../../less/button.less';

.form {
  
  &_form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &_fields {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 1rem;
  }

  &_button {
    .button;

    &-disabled {
      .button;
      background-color: @middle-blue;

      &:hover {
        background-color: @middle-blue;
        cursor: default;
      }
    }
  }
}
