@import (reference) '../../less/variables.less';

.goals {

  &_content {
    display: grid;
    grid-template-columns: repeat(5, [col-start] 1fr);
    padding: 2rem;

    @media only screen and (max-width: 900px) {
      grid-template-columns: repeat(4, [col-start] 1fr);
    }

    @media only screen and (max-width: 640px) {
      grid-template-columns: repeat(2, [col-start] 1fr);
      padding: 1rem;
    }
  }

  &_add {
    &-title {
      font-size: 2rem;
      fill: #d2d3d4;
      -moz-transform: translateY(0.4rem);
      -ms-transform: translateY(0.4rem);
      -webkit-transform: translateY(0.4rem);
      transform: translateY(0.4rem);
    }

    &:focus,
    &:hover {
      cursor: pointer;
      .goals_add-title {
        fill: @blue-green;
      }
    }
  }

  &_arrow {
    position: relative;

    &:after,
    &:before {
      top: 83%;
      left: 38%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(136, 183, 213, 0);
      border-bottom-color: @blue-green;
      border-width: 20px;
    }

    &:before {
      border-color: rgba(194, 225, 245, 0);
      border-bottom-color: @blue-green;
      border-width: 20px;
    }
  }

  &_donut {
    grid-column: col-start / col-start 2;

    @media only screen and (max-width: 640px) {
      align-self: center;
      width: 100%;
    }
  }

  &_detail {
    background-color: @blue-green;
    color: @white;
    grid-column: col-start 1 / span 5;

    @media only screen and (max-width: 900px) {
      grid-column: col-start 1 / span 4;
    }

    @media only screen and (max-width: 640px) {
      grid-column: col-start 1 / span 2;
    }
  }
}