@import (reference) '../../less/variables.less';

.goals {

  &_content {
    display: grid;
    grid-template-areas:
      "detail detail detail detail detail"
      "detail detail detail detail detail"
      "detail detail detail detail detail";
    grid-template-columns: repeat(5, 1fr);
    padding: 2rem;

    @media only screen and (max-width: 640px) {
      grid-template-areas:
        "detail detail";
      grid-template-columns: repeat(2, 1fr);
      padding: 1rem;
    }
  }

  &_add {
    &-title {
      font-size: 2rem;
      fill: #d2d3d4;
      -moz-transform: translateY(0.4rem);
      -ms-transform: translateY(0.4rem);
      -webkit-transform: translateY(0.4rem);
      transform: translateY(0.4rem);
    }

    &:focus,
    &:hover {
      cursor: pointer;
      .goals_add-title {
        fill: @blue-green;
      }
    }
  }

  &_donut {
    @media only screen and (max-width: 640px) {
      align-self: center;
      width: 100%;
    }
  }

  &_detail {
    border: 1px solid @blue-green;
    grid-area: detail;
    height: 20rem;
  }
}