// colors
$primary: #0c98ac;
$highlight: #efeeee;
$overlay: #979797;
$success: #63c312;
$error: #d0021b;
$black: #000;
$white: #FFF;

// fonts
@mixin heading {
  font-family: 'FrancoisOne', sans-serif !important;
  font-weight: bold !important;
}

@mixin number {
  font-family: 'Oswald', sans-serif;
}

@mixin primary {
  font-family: 'ArchivoNarrow', sans-serif;
}

// breakpoints
$x-small: "screen and (min-width: 320px)";
$small: "screen and (min-width: 375px)";
$medium: "screen and (min-width: 768px)";
$large: "screen and (min-width: 992px)";
$x-large: "screen and (min-width: 1045px)";

// detect
$ie: "all and (-ms-high-contrast: none), (-ms-high-contrast: active)";
