@import (reference) '../../less/variables.less';

.dashboard {

  &_content {
    display: grid;
    gap: 1rem;
    grid-template: 
      "hero hero hero hero"
      auto
      "form form form form"
      auto
      "recent accounts accounts topExpenses"
      auto
      "budget budget expInc expInc"
      auto
      ~'/' 1fr 0.5fr 0.5fr 1fr;
    padding: 2rem;

    @media only screen and (max-width: 900px) {
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }
  }

  &_hero {
    grid-area: hero;
  }

  &_label {
    font-family: @font-francois;
    margin: 0;

    &-log {
      padding-bottom: 1rem;
    }
  }

  &_form {
    grid-area: form;
    padding: 2rem;

    @media only screen and (max-width: 640px) {
      margin: 1rem 0;
    }
  }

  &_recent {
    grid-area: recent;
    padding: 1rem;

    @media only screen and (max-width: 640px) {
      margin: 1rem 0;
    }
  }

  &_accounts {
    grid-area: accounts;
    padding: 1rem;

    @media only screen and (max-width: 640px) {
      margin: 1rem 0;
    }
  }

  &_topExpenses {
    grid-area: topExpenses;
    padding: 1rem;

    @media only screen and (max-width: 640px) {
      margin: 1rem 0;
    }
  }

  &_budget {
    grid-area: budget;
    padding: 1rem;

    @media only screen and (max-width: 640px) {
      margin: 1rem 0;
    }
  }

  &_expInc {
    grid-area: expInc;
    padding: 1rem;

    @media only screen and (max-width: 640px) {
      margin: 1rem 0;
    }
  }
}