@import (reference) '../../less/variables.less';
@import (reference) '../../less/button.less';

.forgotPasswordForm {
  align-items: center;
  background-color: @white;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  width: 50%;

  &_input {
    .input;
  }
}
  