@import 'https://use.fontawesome.com/releases/v5.2.0/css/all.css';
@import 'https://fonts.googleapis.com/css?family=Archivo+Narrow|Francois+One|Oswald';
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
}
@media only screen and (max-width: 640px) {
  body {
    overflow-x: hidden;
  }
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
button {
  background: none;
  border: none;
}
button:focus {
  outline: none;
}
input,
datalist,
select {
  background-color: #FFFFFF;
}
.appAuth {
  display: grid;
  grid-template-columns: 15% auto;
}
@media only screen and (max-width: 640px) {
  .appAuth {
    display: block;
  }
}
@media only screen and (max-width: 640px) {
  .router {
    display: none;
  }
}
.accountSection {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
.accountSection_details {
  align-items: center;
  display: flex;
  text-align: right;
}
.accountSection_details-square {
  color: #0C98AC;
  font-size: 1.5rem;
  padding-left: 1rem;
}
.accountSection_details-square:focus,
.accountSection_details-square:hover {
  cursor: pointer;
}
.accountSection_amount-credit {
  color: #FF0000;
}
.accountSection_amount,
.accountSection_activity,
.accountSection_name,
.accountSection_type {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: normal;
  margin: 0;
}
.accountSection_activity:focus,
.accountSection_activity:hover {
  color: #0C98AC;
  cursor: pointer;
}
.accountSection_amount:focus,
.accountSection_name:focus,
.accountSection_type:focus,
.accountSection_amount:hover,
.accountSection_name:hover,
.accountSection_type:hover {
  border: 1px solid #0C98AC;
  cursor: pointer;
}
.accountSection_input {
  padding: 0.5rem 0;
}
.accountSection_input-number {
  text-align: right;
  width: 5rem;
}
.addAccountDialog_input {
  margin: 1rem 0;
  padding: 0.5rem 0;
  width: 100%;
}
.addCategoryDialog_section {
  display: flex;
  flex-direction: column;
}
.addCategoryDialog_message {
  color: #FF0000;
  margin: 0 auto;
}
.addCategoryDialog_input {
  margin: 1rem 0;
  padding: 0.5rem 0;
  width: 100%;
}
.addJobDialog_section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.addJobDialog_input,
.addJobDialog_select {
  margin: 1rem 0;
  padding: 0.5rem 0;
  width: 100%;
}
.addJobDialog_number {
  text-align: right;
}
.addTransactionForm {
  font-family: 'Francois One', sans-serif;
}
.addTransactionForm_options {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}
.addTransactionForm_button {
  border-bottom: 1px solid rgba(12, 152, 172, 0.5);
  font-family: 'Francois One', sans-serif;
  font-size: 1rem;
  width: 100%;
}
@media only screen and (max-width: 640px) {
  .addTransactionForm_button {
    font-size: 0.9rem;
  }
}
.addTransactionForm_button:focus,
.addTransactionForm_button:hover,
.addTransactionForm_button-active {
  border-bottom: 1.5px solid #0C98AC;
  color: #0C98AC;
  cursor: pointer;
}
.addTransactionForm_form {
  display: grid;
  gap: 1rem;
  grid-template: "from to" auto "date amount" auto "category subcategory" auto "note tags" auto / 1fr 1fr;
}
@media only screen and (max-width: 800px) {
  .addTransactionForm_form {
    display: flex;
    flex-direction: column;
  }
}
.addTransactionForm_section-from {
  grid-area: from;
}
.addTransactionForm_section-to {
  grid-area: to;
}
.addTransactionForm_section-date {
  grid-area: date;
}
.addTransactionForm_section-amount {
  grid-area: amount;
}
.addTransactionForm_section-category {
  grid-area: category;
}
.addTransactionForm_section-subcategory {
  grid-area: subcategory;
}
.addTransactionForm_section-note {
  grid-area: note;
}
.addTransactionForm_section-tags {
  grid-area: tags;
}
.addTransactionForm_input {
  margin: 1rem 0;
  padding: 0.5rem 0;
  width: 100%;
}
.addTransactionForm_input-amount,
.addTransactionForm_input-date {
  text-align: right;
}
.budgetTableData {
  padding: 0.5rem 1rem;
}
.budgetTableData_data {
  padding: 0.3rem;
}
.budgetTableData_data-number {
  display: block;
  text-align: right;
}
.budgetTableData_data-budget:focus,
.budgetTableData_data-budget:hover {
  border: 1px solid #0C98AC;
  cursor: pointer;
}
.budgetTableData_data-over {
  color: #FF0000;
}
.budgetTableData_input {
  padding: 0.3rem;
  text-align: right;
  width: 5rem;
}
.categoriesSection_header {
  align-items: center;
  border-bottom: 1px solid #CCCCCC;
  color: #0C98AC;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0;
}
.categoriesSection_header-add {
  padding: 0 0.5rem;
}
.categoriesSection_header-add:focus,
.categoriesSection_header-add:hover {
  cursor: pointer;
}
.categoriesSection_categories {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(auto-fill, auto);
}
@media only screen and (max-width: 1025px) {
  .categoriesSection_categories {
    grid-template-columns: repeat(2, auto);
  }
}
@media only screen and (max-width: 640px) {
  .categoriesSection_categories {
    grid-template-columns: 1fr;
  }
}
.categoryItem {
  padding: 0 1rem 1rem;
}
@media only screen and (max-width: 800px) {
  .categoryItem {
    padding: 0 0.5rem;
  }
}
.categoryItem_header {
  align-items: center;
  background-color: #0C98AC;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
@media only screen and (max-width: 640px) {
  .categoryItem_header {
    font-size: 0.9rem;
  }
}
.categoryItem_header-name {
  font-family: 'Archivo Narrow', sans-serif;
  margin: 0;
  width: 100%;
}
.categoryItem_header:focus,
.categoryItem_header:hover {
  cursor: pointer;
}
.categoryItem_header-icons {
  display: flex;
}
.categoryItem_header-icon {
  padding: 0 0.5rem;
}
.categoryItem_header-icon:focus,
.categoryItem_header-icon:hover {
  cursor: pointer;
}
.categoryItem_subcategories-closed {
  overflow: hidden;
  margin: 0;
  max-height: 0;
  padding: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.5s ease-in;
}
.categoryItem_subcategories {
  border: 1px solid #0C98AC;
  padding: 0.5rem 1rem;
  max-height: auto;
  overflow: hidden;
  transform: scaleY(1);
  transform-origin: top;
  transition: transform 0.5s ease-out;
}
.categoryItem_subcategory {
  align-items: center;
  color: #0C98AC;
  display: flex;
  justify-content: space-between;
}
.categoryItem_subcategory:focus,
.categoryItem_subcategory:hover {
  cursor: pointer;
}
.categoryItem_subcategory:focus .categoryItem_subcategory-icon,
.categoryItem_subcategory:hover .categoryItem_subcategory-icon {
  opacity: 1;
}
.categoryItem_subcategory-name {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0.5rem;
}
.categoryItem_subcategory-name:focus,
.categoryItem_subcategory-name:hover {
  border: 1px solid #0C98AC;
  cursor: pointer;
}
.categoryItem_subcategory-icons {
  display: flex;
}
.categoryItem_subcategory-icon {
  opacity: 0;
  padding: 0 0.5rem;
}
.categoryItem_subcategory-icon:focus,
.categoryItem_subcategory-icon:hover {
  cursor: pointer;
}
.categoryItem_input {
  padding: 0.5rem 0;
}
.contentCard {
  border: 1px solid #0C98AC;
}
.dashboardAccounts {
  display: flex;
  flex-direction: column;
}
.dashboardAccounts_account {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}
.dashboardAccounts_label {
  font-family: 'Archivo Narrow', sans-serif;
  margin: 0;
}
.dashboardAccounts_sum {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  margin: 0;
}
.dashboardAccounts_neg {
  color: #FF0000;
}
.dashboardAccounts_dropdown {
  min-width: 5rem !important;
}
@media only screen and (max-width: 640px) {
  .dashboardAccounts_dropdown {
    left: auto !important;
  }
}
.dashboardAccounts_dropdown-option {
  color: #000000;
  font-family: 'Oswald', sans-serif;
  margin: 0;
}
.dashboardAccounts_dropdown-option:focus,
.dashboardAccounts_dropdown-option:hover {
  color: #0C98AC;
  cursor: pointer;
}
.dashboardAccounts_chart {
  display: flex;
  flex-direction: column;
}
.dashboardAccounts_chart-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}
.dashboardAccounts_chart-title {
  font-family: 'Francois One', sans-serif;
  margin: 0;
  padding: 1rem 0;
}
.dashboardAccounts_chart-pie {
  align-self: center;
}
.dashboardCategoryGraph {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dashboardCategoryGraph_header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem 1rem;
  width: 100%;
}
.dashboardCategoryGraph_header-buttons {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.dashboardCategoryGraph_header-button {
  margin-right: 1rem;
}
.dashboardCategoryGraph_label {
  font-family: 'Francois One', sans-serif;
  margin: 0;
}
.dashboardCategoryGraph_dropdown {
  min-width: 5rem !important;
}
@media only screen and (max-width: 640px) {
  .dashboardCategoryGraph_dropdown {
    left: auto !important;
  }
}
.dashboardCategoryGraph_dropdown-option {
  color: #000000;
  font-family: 'Oswald', sans-serif;
  margin: 0;
}
.dashboardCategoryGraph_dropdown-option:focus,
.dashboardCategoryGraph_dropdown-option:hover {
  color: #0C98AC;
  cursor: pointer;
}
.dashboardCategoryGraph_sortDropdown {
  min-width: 9rem !important;
}
@media only screen and (max-width: 640px) {
  .dashboardCategoryGraph_sortDropdown {
    left: auto !important;
  }
}
.dashboardCategoryGraph_sortDropdown-option {
  color: #000000;
  font-family: 'Oswald', sans-serif;
  font-size: 0.5rem;
  margin: 0;
}
.dashboardCategoryGraph_sortDropdown-option:focus,
.dashboardCategoryGraph_sortDropdown-option:hover {
  color: #0C98AC;
  cursor: pointer;
}
.dashboardHero {
  display: grid;
  gap: 1rem;
  grid-template: "income worth expense" auto / 0.5fr 0.5fr 2fr;
  padding: 2rem;
}
@media only screen and (max-width: 640px) {
  .dashboardHero {
    grid-template: "income worth date" auto "expense expense expense" auto / 1fr 1fr 0.5fr;
    padding: 1rem;
  }
}
.dashboardHero_income {
  grid-area: income;
}
.dashboardHero_worth {
  grid-area: worth;
}
.dashboardHero_expense {
  grid-area: expense;
}
.dashboardHero_date {
  position: absolute;
  display: flex;
  right: 4rem;
  padding: 1rem 0;
}
@media only screen and (max-width: 640px) {
  .dashboardHero_date {
    position: relative;
    grid-area: date;
    right: 0;
    padding: 0;
  }
}
.dashboardHero_date-text {
  font-family: 'Francois One', sans-serif;
  margin: 0;
  padding-right: 0.3rem;
}
.dashboardHero_date-year {
  font-family: 'Oswald', sans-serif;
  margin: 0;
}
.dashboardHero_date-year:focus,
.dashboardHero_date-year:hover {
  color: #0C98AC;
  cursor: pointer;
}
.dashboardHero_label {
  font-family: 'Francois One', sans-serif;
  margin: 0;
}
.dashboardHero_amount {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  margin: 0;
}
.dashboardHero_dropdown {
  min-width: 5rem !important;
}
@media only screen and (max-width: 640px) {
  .dashboardHero_dropdown {
    left: auto !important;
  }
}
.dashboardHero_dropdown-option {
  color: #000000;
  font-family: 'Oswald', sans-serif;
  margin: 0;
}
.dashboardHero_dropdown-option:focus,
.dashboardHero_dropdown-option:hover {
  color: #0C98AC;
  cursor: pointer;
}
.dashboardHero_neg {
  color: #FF0000;
}
.dashboardHero_progress {
  display: flex;
  height: 1.5rem;
  margin: 1rem 0 0;
  background: hsl(220, 10%, 80%);
}
.dashboardRecentTrans_trans {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.dashboardRecentTrans_row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.dashboardRecentTrans_text {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: normal;
  margin: 0;
}
.dashboardRecentTrans_to {
  font-family: 'Archivo Narrow', sans-serif;
  margin: 0;
}
.dashboardRecentTrans_amount,
.dashboardRecentTrans_date {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  margin: 0;
}
.dashboardRecentTrans_neg {
  color: #FF0000;
}
.dashboardRecentTrans_pos {
  color: #007C0C;
}
.dashboardTopExpenses_header {
  display: flex;
  justify-content: space-between;
}
.dashboardTopExpenses_button {
  background-color: #0C98AC;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  padding: 0.5rem;
}
.dashboardTopExpenses_button:focus,
.dashboardTopExpenses_button:hover {
  background-color: #0fc2dc;
  cursor: pointer;
}
.dashboardTopExpenses_title {
  font-family: 'Francois One', sans-serif;
  margin: 0;
}
.dashboardTopExpenses_trans {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
.dashboardTopExpenses_row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.dashboardTopExpenses_text {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: normal;
  margin: 0;
}
.dashboardTopExpenses_to {
  font-family: 'Archivo Narrow', sans-serif;
  margin: 0;
}
.dashboardTopExpenses_amount,
.dashboardTopExpenses_date {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  margin: 0;
}
.dashboardTopExpenses_neg {
  color: #FF0000;
}
.dashboardTopExpenses_pos {
  color: #007C0C;
}
.deleteDialog_subtitle {
  font-weight: normal;
  margin: 0;
  text-align: center;
}
.deleteDialog_buttons {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 2rem 5rem 0;
}
@media only screen and (max-width: 800px) {
  .deleteDialog_buttons {
    padding: 2rem 0 0;
  }
}
.deleteDialog_button {
  background-color: #0C98AC;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 5rem;
}
.deleteDialog_button:focus,
.deleteDialog_button:hover {
  background-color: #0fc2dc;
  cursor: pointer;
}
.dialog {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.dialog_header {
  align-items: center;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}
.dialog_title {
  color: #0C98AC;
}
@media only screen and (max-width: 640px) {
  .dialog_title {
    font-size: 1.5rem;
  }
}
.dialog_close {
  color: #0C98AC;
  font-size: 1.5rem;
}
.dialog_close:focus,
.dialog_close:hover {
  cursor: pointer;
}
@media only screen and (max-width: 640px) {
  .dialog_close {
    font-size: 1rem;
  }
}
.dialog_content {
  display: flex;
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  flex-direction: column;
  margin: 5% auto;
  padding: 1.5rem 0;
  width: 50%;
}
@media only screen and (max-width: 640px) {
  .dialog_content {
    margin: 25% auto;
    padding: 1.5rem 0;
    width: 85%;
  }
}
.dialog_body {
  padding: 2rem;
}
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown_content {
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  left: auto;
  min-width: 11rem;
  padding: 1rem;
  position: absolute;
  right: 0;
  z-index: 1;
}
@media only screen and (max-width: 640px) {
  .dropdown_content {
    left: 0;
  }
}
.dropdown_content-show {
  display: block;
}
.dropdown_button {
  background-color: #0C98AC;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.dropdown_button:focus,
.dropdown_button:hover {
  background-color: #0fc2dc;
  cursor: pointer;
}
@media only screen and (max-width: 640px) {
  .dropdown_button {
    width: 100%;
  }
}
.dropdown_item:focus,
.dropdown_item:hover {
  cursor: pointer;
}
.editSubcategoryDialog_input {
  margin: 1rem 0;
  padding: 0.5rem 0;
  width: 100%;
}
.filterDropdown_add {
  color: #CCCCCC;
  padding: 0 0.5rem;
  font-size: 1.4rem;
}
.filterDropdown_add:focus,
.filterDropdown_add:hover {
  color: #39c9cf;
  cursor: pointer;
}
.filterDropdown_content {
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  display: none;
  min-width: 10rem;
  padding: 1rem;
  position: absolute;
  z-index: 1;
}
@media only screen and (max-width: 640px) {
  .filterDropdown_content {
    left: 0.5rem;
    min-width: 8rem;
  }
}
.filterDropdown_content-show {
  display: block;
}
.filterDropdown_item {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: 'Francois One', sans-serif;
  justify-content: space-between;
}
.filterDropdown_item:focus,
.filterDropdown_item:hover {
  color: #0C98AC;
  cursor: pointer;
}
.filterDropdown_subItem {
  background-color: #f9f9f9;
  box-shadow: 5px 8px 16px rgba(85, 85, 85, 0.2);
  display: none;
  left: 100%;
  min-width: 10rem;
  padding: 0.5rem;
  position: absolute;
  z-index: 1;
}
.filterDropdown_subItem-show {
  display: block;
}
.filterDropdown_option {
  align-items: center;
  color: #000000;
  display: flex;
  font-family: 'Francois One', sans-serif;
}
.filterDropdown_option:focus,
.filterDropdown_option:hover {
  color: #0C98AC;
  cursor: pointer;
}
.forgotPasswordForm {
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 3rem 10rem;
}
@media only screen and (max-width: 720px) {
  .forgotPasswordForm {
    padding: 3rem 5rem;
  }
}
@media only screen and (max-width: 640px) {
  .forgotPasswordForm {
    padding: 3rem 2rem;
  }
}
.forgotPasswordForm_input {
  margin: 1rem 0;
  padding: 0.5rem 0;
  width: 15rem;
}
.forgotPasswordForm_link {
  color: #000000;
  padding-top: 2rem;
}
.forgotPasswordForm_link:visited {
  color: #000000;
}
.forgotPasswordForm_link:hover {
  color: #0C98AC;
  cursor: pointer;
  text-decoration: underline;
}
.form_form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form_fields {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
}
.form_button {
  background-color: #0C98AC;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.form_button:focus,
.form_button:hover {
  background-color: #0fc2dc;
  cursor: pointer;
}
.form_button-disabled {
  background-color: #0C98AC;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #62D4D9;
}
.form_button-disabled:focus,
.form_button-disabled:hover {
  background-color: #0fc2dc;
  cursor: pointer;
}
.form_button-disabled:hover {
  background-color: #62D4D9;
  cursor: default;
}
.authHeader {
  align-items: center;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  justify-content: flex-start;
  margin: 0 2rem;
}
@media only screen and (max-width: 640px) {
  .authHeader {
    background-color: #0C98AC;
    border-bottom: none;
    margin: 0;
  }
}
.authHeader_icon {
  color: #0C98AC;
  display: none;
}
@media only screen and (max-width: 640px) {
  .authHeader_icon {
    color: #FFFFFF;
    display: block;
    font-size: 1.5rem;
    padding-left: 1rem;
    position: absolute;
  }
}
.authHeader_title {
  color: #0C98AC;
}
@media only screen and (max-width: 640px) {
  .authHeader_title {
    color: #FFFFFF;
    font-size: 1.8rem;
    margin: 1rem auto;
  }
}
.nonHeader {
  align-items: center;
  display: flex;
}
.nonHeader_title {
  color: #FFFFFF;
  padding-left: 1rem;
}
@media only screen and (max-width: 640px) {
  .nonHeader_title {
    font-size: 1.8rem;
  }
}
.nonHeader_circle {
  color: #FFFFFF;
}
.nonHeader_icon {
  color: #0C98AC;
}
.jobItem {
  padding: 0 1rem 1rem;
}
@media only screen and (max-width: 800px) {
  .jobItem {
    padding: 0 0.5rem;
  }
}
.jobItem_item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.jobItem_item:focus,
.jobItem_item:hover {
  cursor: pointer;
}
.jobItem_item:focus .jobItem_icon,
.jobItem_item:hover .jobItem_icon {
  opacity: 1;
}
.jobItem_item-name {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0.5rem;
}
.jobItem_item-name:focus,
.jobItem_item-name:hover {
  border: 1px solid #0C98AC;
  cursor: pointer;
}
.jobItem_item-number {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0.5rem;
}
.jobItem_icons {
  align-items: center;
  display: flex;
}
.jobItem_icon {
  color: #0C98AC;
  opacity: 0;
  padding: 0 0.5rem;
}
.jobItem_icon:focus,
.jobItem_icon:hover {
  cursor: pointer;
}
.jobItem_input {
  padding: 0.5rem 0;
}
.jobItem_input-number {
  text-align: right;
}
.jobsSection_header {
  align-items: center;
  border-bottom: 1px solid #CCCCCC;
  color: #0C98AC;
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem 0;
}
.jobsSection_header-add {
  padding: 0 0.5rem;
}
.jobsSection_header-add:focus,
.jobsSection_header-add:hover {
  cursor: pointer;
}
.jobsSection_jobs {
  padding-top: 1rem;
}
.jobsSection_none {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: normal;
  padding-left: 1rem;
}
.loading {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}
.loading_front,
.loading_back {
  font-size: 3rem;
}
@media only screen and (max-width: 640px) {
  .loading_front,
  .loading_back {
    font-size: 3rem;
  }
}
.loading_circle {
  color: #0C98AC;
}
.loading_icon {
  color: #FFFFFF;
}
.loginForm_input {
  margin: 1rem 0;
  padding: 0.5rem 0;
  width: 15rem;
}
.rangeDialog {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.rangeDialog_label {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.rangeDialog_input {
  padding: 0.5rem 0;
  text-align: right;
}
.signupForm_input {
  margin: 1rem 0;
  padding: 0.5rem 0;
  width: 15rem;
}
.sidebar {
  align-items: center;
  background-color: #0C98AC;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 1rem 0;
  width: 100%;
}
@media only screen and (max-width: 640px) {
  .sidebar {
    display: none;
  }
}
.sidebar_circle {
  color: #FFFFFF;
}
.sidebar_icon {
  color: #0C98AC;
}
.sidebar_list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  text-align: center;
  width: 100%;
}
.sidebar_item {
  width: 100%;
}
.sidebar_link {
  color: #FFFFFF;
  display: inline-block;
  font-weight: bold;
  padding: 1.5rem 0;
  width: 100%;
}
.sidebar_link:visited {
  color: #FFFFFF;
}
.sidebar_link:focus,
.sidebar_link:hover {
  background-color: #39c9cf;
}
.sidebar_link-active {
  background-color: #39c9cf;
}
.sidebar_active {
  align-items: center;
  background-color: #0C98AC;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 1rem 0;
  width: 100%;
}
.sidebar_circle {
  color: #FFFFFF;
}
.sidebar_icon {
  color: #0C98AC;
}
.sidebar_list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  text-align: center;
  width: 100%;
}
.sidebar_item {
  width: 100%;
}
.sidebar_link {
  color: #FFFFFF;
  display: inline-block;
  font-weight: bold;
  padding: 1.5rem 0;
  width: 100%;
}
.sidebar_link:visited {
  color: #FFFFFF;
}
.sidebar_link:focus,
.sidebar_link:hover {
  background-color: #39c9cf;
}
.sidebar_link-active {
  background-color: #39c9cf;
}
.table {
  border: 1px solid #0C98AC;
  border-collapse: collapse;
}
.table_wrapper {
  overflow-x: auto;
}
.table_header,
.table_heading,
.table_body,
.table_row,
.table_data {
  border: 1px solid #0C98AC;
  border-collapse: collapse;
}
.table_header {
  background-color: #0C98AC;
  color: #FFFFFF;
}
.table_heading {
  padding: 0.5rem;
}
.table_heading-header {
  align-items: center;
  display: flex;
}
.table_heading-header:focus,
.table_heading-header:hover {
  cursor: pointer;
}
.table_heading-icon {
  padding-left: 0.5rem;
}
.table_icons {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto 0;
}
.table_icon {
  color: #0C98AC;
  padding: 0.5rem;
}
.table_icon:focus,
.table_icon:hover {
  cursor: pointer;
}
.tableData {
  padding: 0.5rem 1rem;
}
.tableData_tags {
  display: block;
  text-align: center;
}
.tableData_input {
  width: 100%;
}
.tableData_input-number {
  text-align: right;
}
.tableFilters {
  align-items: center;
  display: flex;
  padding-bottom: 1rem;
}
.tableFilters_filterIcon {
  padding: 0 0.5rem;
}
.tableFilters_icon {
  color: #CCCCCC;
  padding: 0 0.5rem;
}
.tableFilters_icon:focus,
.tableFilters_icon:hover {
  color: #39c9cf;
  cursor: pointer;
}
.tableFilters_title {
  font-family: 'Archivo Narrow', sans-serif;
  margin: 0;
}
.tableFilters_filter {
  align-items: center;
  background-color: rgba(98, 212, 217, 0.25);
  border: 1px solid #62D4D9;
  border-radius: 1rem;
  display: flex;
  font-family: 'Archivo Narrow', sans-serif;
  margin: 0 0.5rem;
  padding: 0.3rem 0.5rem;
}
.tableFilters_remove {
  color: #2ebac0;
  font-size: 1rem;
  padding-left: 0.5rem;
}
.tableFilters_remove:focus,
.tableFilters_remove:hover {
  color: #259297;
  cursor: pointer;
}
.userProfile_header {
  align-items: center;
  border-bottom: 1px solid #CCCCCC;
  color: #0C98AC;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
.userProfile_header-add {
  padding: 0 0.5rem;
}
.userProfile_header-add:focus,
.userProfile_header-add:hover {
  cursor: pointer;
}
.userProfile_profile {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
@media only screen and (max-width: 640px) {
  .userProfile_profile {
    display: flex;
    flex-direction: column;
  }
}
.userProfile_profile_text {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: normal;
}
.userProfile_profile_reset {
  background-color: #0C98AC;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  text-align: center;
}
.userProfile_profile_reset:focus,
.userProfile_profile_reset:hover {
  background-color: #0fc2dc;
  cursor: pointer;
}
.accounts_content {
  display: grid;
  gap: 1rem;
  grid-template: "bank cash credit" auto "details details details" auto "accounts accounts accounts" / 1fr 1fr 1fr;
  padding: 2rem;
}
@media only screen and (max-width: 640px) {
  .accounts_content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}
.accounts_bank,
.accounts_cash,
.accounts_credit {
  background-color: #62D4D9;
  background-image: none;
  padding: 1rem;
  text-align: center;
}
@media only screen and (max-width: 640px) {
  .accounts_bank,
  .accounts_cash,
  .accounts_credit {
    margin: 0.5rem 0;
  }
}
.accounts_bank {
  grid-area: bank;
}
.accounts_cash {
  grid-area: cash;
}
.accounts_credit {
  grid-area: credit;
}
.accounts_label {
  font-family: 'Francois One', sans-serif;
  margin: 0;
}
.accounts_amount {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  margin: 0;
}
.accounts_amount-credit {
  color: #FF0000;
}
.accounts_header {
  align-items: center;
  border-bottom: 1px solid #CCCCCC;
  color: #0C98AC;
  display: flex;
  grid-area: details;
  justify-content: space-between;
  padding: 1rem 1rem 0;
}
.accounts_header-delete,
.accounts_header-add {
  padding: 0 0.5rem;
}
.accounts_header-delete:focus,
.accounts_header-add:focus,
.accounts_header-delete:hover,
.accounts_header-add:hover {
  cursor: pointer;
}
.accounts_list {
  grid-area: accounts;
  padding: 1rem;
}
.accounts_item {
  padding: 0.5rem 1rem;
}
.accounts_item-none {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: normal;
  margin: 0;
}
.activity_content {
  padding: 2rem;
}
@media only screen and (max-width: 640px) {
  .activity_content {
    padding: 1rem;
  }
}
.activity_header {
  align-items: center;
  border-bottom: 1px solid #CCCCCC;
  color: #0C98AC;
  display: grid;
  grid-template: "title export add" auto / auto 5rem 2rem;
  margin-bottom: 1rem;
  padding: 1rem 1rem 0;
}
@media only screen and (max-width: 640px) {
  .activity_header {
    display: grid;
    grid-template: "title add" auto "export export" auto / [export-start] 100% [export-end];
    padding-bottom: 1rem;
  }
}
.activity_header-title {
  grid-area: title;
}
.activity_header-add {
  grid-area: add;
  padding: 0 0.5rem 0 1rem;
}
@media only screen and (max-width: 640px) {
  .activity_header-add {
    padding: 0;
  }
}
.activity_header-add:focus,
.activity_header-add:hover {
  cursor: pointer;
}
.activity_export {
  color: #000000;
  font-family: 'Francois One', sans-serif;
  grid-area: export;
}
.activity_export:focus,
.activity_export:hover {
  color: #0C98AC;
  cursor: pointer;
}
.activity_section {
  padding: 0 1rem;
}
.activity_sectionHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.activity_sectionHeader-title {
  font-family: 'Francois One', sans-serif;
  font-size: 1.2rem;
}
.activity_sectionHeader-arrow {
  font-size: 1.5rem;
}
.activity_sectionHeader:focus,
.activity_sectionHeader:hover {
  color: #0C98AC;
  cursor: pointer;
}
.activity_empty {
  font-family: 'Archivo Narrow', sans-serif;
  font-weight: normal;
  margin: 0;
  padding-left: 1rem;
}
.budget_content {
  padding: 2rem;
}
@media only screen and (max-width: 640px) {
  .budget_content {
    padding: 1rem;
  }
}
.budget_content-header {
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 0 1rem;
}
.budget_content-text {
  align-items: center;
  display: flex;
}
.budget_label {
  font-family: 'Archivo Narrow', sans-serif;
  margin: 0;
  padding-right: 1rem;
}
.budget_number {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  margin: 0;
}
.budget_number-edit:focus,
.budget_number-edit:hover {
  border: 1px solid #0C98AC;
  cursor: pointer;
}
.budget_input {
  margin: 1rem 0;
  padding: 0.5rem 0;
  text-align: right;
  width: 5rem;
}
.budget_header {
  align-items: center;
  border-bottom: 1px solid #CCCCCC;
  color: #0C98AC;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem 1rem 0;
}
@media only screen and (max-width: 640px) {
  .budget_header {
    font-size: 0.9rem;
    padding: 1rem 0 0;
  }
}
.budget_header-buttons {
  align-items: center;
  display: flex;
}
.budget_export {
  background-color: #0C98AC;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-left: 1rem;
}
.budget_export:focus,
.budget_export:hover {
  background-color: #0fc2dc;
  cursor: pointer;
}
@media only screen and (max-width: 640px) {
  .budget_export {
    margin-left: 0.5rem;
    padding: 0.5rem;
  }
}
.budget_dropdown {
  min-width: 5rem !important;
}
@media only screen and (max-width: 640px) {
  .budget_dropdown {
    left: auto !important;
  }
}
.budget_dropdown-option {
  color: #000000;
  font-family: 'Oswald', sans-serif;
  margin: 0;
}
.budget_dropdown-option:focus,
.budget_dropdown-option:hover {
  color: #0C98AC;
  cursor: pointer;
}
.budget_tables {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}
.budget_tables-actual {
  align-self: flex-start;
}
@media only screen and (max-width: 1170px) {
  .budget_tables {
    display: block;
    flex-direction: column;
    overflow-x: auto;
  }
  .budget_tables-ideal {
    padding-top: 2rem;
  }
}
.charts_content {
  padding: 2rem;
}
@media only screen and (max-width: 640px) {
  .charts_content {
    padding: 1rem;
  }
}
.dashboard_content {
  display: grid;
  gap: 1rem;
  grid-template: "hero hero hero hero" auto "form form form form" auto "recent accounts accounts topExpenses" auto "budget budget budget goals" auto / 1fr 0.5fr 0.5fr 1fr;
  padding: 2rem;
}
@media only screen and (max-width: 900px) {
  .dashboard_content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}
.dashboard_hero {
  grid-area: hero;
}
.dashboard_label {
  font-family: 'Francois One', sans-serif;
  margin: 0;
}
.dashboard_label-log {
  padding-bottom: 1rem;
}
.dashboard_form {
  grid-area: form;
  padding: 2rem;
}
@media only screen and (max-width: 640px) {
  .dashboard_form {
    margin: 1rem 0;
  }
}
.dashboard_recent {
  grid-area: recent;
  padding: 1rem;
}
@media only screen and (max-width: 640px) {
  .dashboard_recent {
    margin: 1rem 0;
  }
}
.dashboard_accounts {
  grid-area: accounts;
  padding: 1rem;
}
@media only screen and (max-width: 640px) {
  .dashboard_accounts {
    margin: 1rem 0;
  }
}
.dashboard_topExpenses {
  grid-area: topExpenses;
  padding: 1rem;
}
@media only screen and (max-width: 640px) {
  .dashboard_topExpenses {
    margin: 1rem 0;
  }
}
.dashboard_budget {
  grid-area: budget;
  padding: 1rem;
}
@media only screen and (max-width: 640px) {
  .dashboard_budget {
    margin: 1rem 0;
  }
}
.dashboard_goals {
  grid-area: goals;
  padding: 1rem;
}
@media only screen and (max-width: 640px) {
  .dashboard_goals {
    margin: 1rem 0;
  }
}
.forgotPassword {
  background-image: linear-gradient(#0C98AC, #62D4D9);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem 1rem 0 1rem;
}
.forgotPassword_form {
  align-self: center;
  justify-self: center;
  margin: auto 0;
}
.goals_content {
  padding: 2rem;
}
@media only screen and (max-width: 640px) {
  .goals_content {
    padding: 1rem;
  }
}
.landing {
  background-image: linear-gradient(#0C98AC, #62D4D9);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}
.landing_content {
  align-items: center;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 2fr 1fr;
  margin: 0 2rem;
}
@media only screen and (max-width: 950px) {
  .landing_content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.landing_text {
  color: #FFFFFF;
  justify-self: center;
}
@media only screen and (max-width: 950px) {
  .landing_text {
    padding-bottom: 2rem;
  }
}
.login,
.signup {
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 35rem;
  padding: 0 5rem;
}
@media only screen and (max-width: 640px) {
  .login,
  .signup {
    padding: 0 2rem;
  }
}
.login_title,
.signup_title {
  color: #0C98AC;
}
.login_switch,
.signup_switch {
  padding-top: 1rem;
}
.login_link,
.signup_link {
  color: #000000;
}
.login_link:visited,
.signup_link:visited {
  color: #000000;
}
.login_link:hover,
.signup_link:hover {
  color: #0C98AC;
  cursor: pointer;
  text-decoration: underline;
}
.logoutButton {
  background-color: #0C98AC;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.logoutButton:focus,
.logoutButton:hover {
  background-color: #0fc2dc;
  cursor: pointer;
}
.settings_content {
  padding: 2rem;
}
@media only screen and (max-width: 640px) {
  .settings_content {
    padding: 1rem;
  }
}
