@import 'https://use.fontawesome.com/releases/v5.2.0/css/all.css';
@import 'https://fonts.googleapis.com/css?family=Archivo+Narrow|Francois+One|Oswald';
html {
  margin: 0;
  padding: 0;
}
body {
  font-family: arial, sans-serif;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
button {
  background: none;
  border: none;
}
button:focus {
  outline: none;
}
.appAuth {
  display: grid;
  grid-template-columns: 15% auto;
}
@media only screen and (max-width: 640px) {
  .appAuth {
    display: block;
  }
}
@media only screen and (max-width: 640px) {
  .router {
    display: none;
  }
}
.contentCard {
  background-image: linear-gradient(#0C98AC, #62D4D9);
}
.forgotPasswordForm {
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  padding: 3rem 10rem;
}
@media only screen and (max-width: 720px) {
  .forgotPasswordForm {
    padding: 3rem 5rem;
  }
}
@media only screen and (max-width: 640px) {
  .forgotPasswordForm {
    padding: 3rem 2rem;
  }
}
.forgotPasswordForm_input {
  margin: 1rem 0;
  padding: 0.5rem 0;
  width: 15rem;
}
.forgotPasswordForm_link {
  color: #000000;
  padding-top: 2rem;
}
.forgotPasswordForm_link:visited {
  color: #000000;
}
.forgotPasswordForm_link:hover {
  color: #0C98AC;
  cursor: pointer;
  text-decoration: underline;
}
.form_form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form_fields {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1rem;
}
.form_button {
  background-color: #0C98AC;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.form_button:focus,
.form_button:hover {
  background-color: #0fc2dc;
  cursor: pointer;
}
.form_button-disabled {
  background-color: #0C98AC;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: #62D4D9;
}
.form_button-disabled:focus,
.form_button-disabled:hover {
  background-color: #0fc2dc;
  cursor: pointer;
}
.form_button-disabled:hover {
  background-color: #62D4D9;
  cursor: default;
}
.authHeader {
  align-items: center;
  border-bottom: 1px solid #CCCCCC;
  display: flex;
  justify-content: flex-start;
  margin: 0 2rem;
}
@media only screen and (max-width: 640px) {
  .authHeader {
    background-image: linear-gradient(#0C98AC, #62D4D9);
    border-bottom: none;
    margin: 0;
  }
}
.authHeader_icon {
  color: #0C98AC;
  display: none;
}
@media only screen and (max-width: 640px) {
  .authHeader_icon {
    color: #FFFFFF;
    display: block;
    font-size: 1.5rem;
    padding-left: 1rem;
  }
}
.authHeader_title {
  color: #0C98AC;
}
@media only screen and (max-width: 640px) {
  .authHeader_title {
    color: #FFFFFF;
    font-size: 1.8rem;
    margin: 1rem auto;
  }
}
.nonHeader {
  align-items: center;
  display: flex;
}
.nonHeader_title {
  color: #FFFFFF;
  padding-left: 1rem;
}
@media only screen and (max-width: 640px) {
  .nonHeader_title {
    font-size: 1.8rem;
  }
}
.nonHeader_circle {
  color: #FFFFFF;
}
.nonHeader_icon {
  color: #0C98AC;
}
.loading {
  align-items: center;
  background-image: linear-gradient(#0C98AC, #62D4D9);
  display: flex;
  justify-content: center;
  margin: 0;
  min-height: 100vh;
  padding: 0;
}
.loading_front,
.loading_back {
  font-size: 4rem;
}
@media only screen and (max-width: 640px) {
  .loading_front,
  .loading_back {
    font-size: 3rem;
  }
}
.loading_circle {
  color: #FFFFFF;
}
.loading_icon {
  color: #0C98AC;
}
.loginForm_input {
  margin: 1rem 0;
  padding: 0.5rem 0;
  width: 15rem;
}
.signupForm_input {
  margin: 1rem 0;
  padding: 0.5rem 0;
  width: 15rem;
}
.sidebar {
  align-items: center;
  background-color: #0C98AC;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 1rem 0;
  width: 100%;
}
@media only screen and (max-width: 640px) {
  .sidebar {
    display: none;
  }
}
.sidebar_circle {
  color: #FFFFFF;
}
.sidebar_icon {
  color: #0C98AC;
}
.sidebar_list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  text-align: center;
  width: 100%;
}
.sidebar_item {
  width: 100%;
}
.sidebar_link {
  color: #FFFFFF;
  display: inline-block;
  font-weight: bold;
  padding: 1.5rem 0;
  width: 100%;
}
.sidebar_link:visited {
  color: #FFFFFF;
}
.sidebar_link:focus,
.sidebar_link:hover {
  background-color: #62D4D9;
}
.sidebar_link-active {
  background-color: #62D4D9;
}
.sidebar_active {
  align-items: center;
  background-color: #0C98AC;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 1rem 0;
  width: 100%;
}
.sidebar_circle {
  color: #FFFFFF;
}
.sidebar_icon {
  color: #0C98AC;
}
.sidebar_list {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  text-align: center;
  width: 100%;
}
.sidebar_item {
  width: 100%;
}
.sidebar_link {
  color: #FFFFFF;
  display: inline-block;
  font-weight: bold;
  padding: 1.5rem 0;
  width: 100%;
}
.sidebar_link:visited {
  color: #FFFFFF;
}
.sidebar_link:focus,
.sidebar_link:hover {
  background-color: #62D4D9;
}
.sidebar_link-active {
  background-color: #62D4D9;
}
.accounts_content {
  padding: 2rem;
}
@media only screen and (max-width: 640px) {
  .accounts_content {
    padding: 1rem;
  }
}
.activity_content {
  padding: 2rem;
}
@media only screen and (max-width: 640px) {
  .activity_content {
    padding: 1rem;
  }
}
.budgets_content {
  padding: 2rem;
}
@media only screen and (max-width: 640px) {
  .budgets_content {
    padding: 1rem;
  }
}
.charts_content {
  padding: 2rem;
}
@media only screen and (max-width: 640px) {
  .charts_content {
    padding: 1rem;
  }
}
.dashboard_content {
  display: grid;
  gap: 1rem;
  grid-template: "hero hero hero hero" auto "recent accounts accounts topExpenses" auto "budget budget expInc expInc" auto / 1fr 0.5fr 0.5fr 1fr;
  padding: 2rem;
}
@media only screen and (max-width: 640px) {
  .dashboard_content {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
}
.dashboard_hero {
  display: grid;
  gap: 1rem;
  grid-area: hero;
  grid-template: "income worth expense" / 0.5fr 0.5fr 2fr;
  padding: 2rem;
}
@media only screen and (max-width: 640px) {
  .dashboard_hero {
    grid-template: "income worth" auto "expense expense" auto / 1fr 1fr;
    padding: 1rem;
  }
}
.dashboard_income {
  grid-area: income;
}
.dashboard_worth {
  grid-area: worth;
}
.dashboard_expense {
  grid-area: expense;
}
.dashboard_label {
  font-family: 'Francois One', sans-serif;
  margin: 0;
}
.dashboard_amount {
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  margin: 0;
}
.dashboard_recent {
  grid-area: recent;
  padding: 1rem;
}
@media only screen and (max-width: 640px) {
  .dashboard_recent {
    margin: 1rem 0;
  }
}
.dashboard_accounts {
  grid-area: accounts;
  padding: 1rem;
}
@media only screen and (max-width: 640px) {
  .dashboard_accounts {
    margin: 1rem 0;
  }
}
.dashboard_topExpenses {
  grid-area: topExpenses;
  padding: 1rem;
}
@media only screen and (max-width: 640px) {
  .dashboard_topExpenses {
    margin: 1rem 0;
  }
}
.dashboard_budget {
  grid-area: budget;
  padding: 1rem;
}
@media only screen and (max-width: 640px) {
  .dashboard_budget {
    margin: 1rem 0;
  }
}
.dashboard_expInc {
  grid-area: expInc;
  padding: 1rem;
}
@media only screen and (max-width: 640px) {
  .dashboard_expInc {
    margin: 1rem 0;
  }
}
.forgotPassword {
  background-image: linear-gradient(#0C98AC, #62D4D9);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem 1rem 0 1rem;
}
.forgotPassword_form {
  align-self: center;
  justify-self: center;
  margin: auto 0;
}
.goals_content {
  padding: 2rem;
}
@media only screen and (max-width: 640px) {
  .goals_content {
    padding: 1rem;
  }
}
.landing {
  background-image: linear-gradient(#0C98AC, #62D4D9);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 1rem;
}
.landing_content {
  align-items: center;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 2fr 1fr;
  margin: 0 2rem;
}
@media only screen and (max-width: 950px) {
  .landing_content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.landing_text {
  color: #FFFFFF;
  justify-self: center;
}
@media only screen and (max-width: 950px) {
  .landing_text {
    padding-bottom: 2rem;
  }
}
.login,
.signup {
  align-items: center;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 35rem;
  padding: 0 5rem;
}
@media only screen and (max-width: 640px) {
  .login,
  .signup {
    padding: 0 2rem;
  }
}
.login_title,
.signup_title {
  color: #0C98AC;
}
.login_switch,
.signup_switch {
  padding-top: 1rem;
}
.login_link,
.signup_link {
  color: #000000;
}
.login_link:visited,
.signup_link:visited {
  color: #000000;
}
.login_link:hover,
.signup_link:hover {
  color: #0C98AC;
  cursor: pointer;
  text-decoration: underline;
}
.logoutButton {
  background-color: #0C98AC;
  color: #FFFFFF;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.logoutButton:focus,
.logoutButton:hover {
  background-color: #0fc2dc;
  cursor: pointer;
}
.settings_content {
  padding: 2rem;
}
@media only screen and (max-width: 640px) {
  .settings_content {
    padding: 1rem;
  }
}
