@import (reference) '../../less/variables.less';

.accounts {
  &_content {
    display: grid;
    gap: 1rem;
    grid-template: 
      "bank cash credit"
      auto
      "details details details"
      auto
      "accounts accounts accounts"
      ~'/' 1fr 1fr 1fr;
    padding: 2rem;

    @media only screen and (max-width: 640px) {
      display: flex;
      flex-direction: column;
      padding: 1rem;
    }
  }

  &_bank,
  &_cash,
  &_credit {
    background-color: @middle-blue;
    background-image: none;
    padding: 1rem;
    text-align: center;
    
    @media only screen and (max-width: 640px) {
      margin: 0.5rem 0;
    }
  }

  &_bank {
    grid-area: bank;
  }
  
  &_cash {
    grid-area: cash;
  }
  
  &_credit {
    grid-area: credit;
  }

  &_label {
    font-family: @font-francois;
    margin: 0;
  }

  &_amount {
    font-family: @font-oswald;
    font-weight: normal;
    margin: 0;

    &-credit {
      color: @red;
    }
  }

  &_header {
    align-items: center;
    border-bottom: 1px solid @very-light-gray;
    color: @blue-green;
    display: flex;
    grid-area: details;
    justify-content: space-between;
    padding: 1rem 1rem 0;

    &-delete,
    &-add {
      padding: 0 0.5rem;

      &:focus,
      &:hover {
        cursor: pointer;
      }
    }
  }

  &_list {
    grid-area: accounts;
    padding: 1rem;
  }

  &_item {
    padding: 0.5rem 1rem;

    &-none {
      font-family: @font-archivo;
      font-weight: normal;
      margin: 0;
    }
  }
}

.deleteDialog {

  &_subtitle {
    font-weight: normal;
    margin: 0;
    text-align: center;
  }

  &_buttons {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 2rem 5rem 0;

    @media only screen and (max-width: 800px) {
      padding: 2rem 0 0;
    }
  }

  &_button {
    .button;
    width: 5rem;
  }
}
