@import '../appearance/styles/variables.scss';

.dashboard {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &_mobileButton {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  &_mobileMenuList {
    width: 91%;
  }

  &_label {
    @include title;
  }

  &_text {
    @include primary;
  }

  &_card {
    max-height: 300px;
    overflow-y: auto;
  }

  &_bold {
    font-weight: bold !important;
  }

  &_green {
    color: $success !important;
  }

  &_item {
    border-bottom: 1px solid $highlight;
    align-items: center;
    display: flex;
    flex-direction: column;

    &:last-child {
      border-bottom: none;
    }

    &-text {
      align-items: center;
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    &-panel {
      align-items: flex-start;
      border: none !important;
      border-bottom: 1px solid $highlight !important;
      box-shadow: none !important;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      width: 100%;
    }
  
    &-label {
      @include primary;
    }

    &-date {
      @include primary;
      text-align: right;
    }
  
    &-amount {
      @include number;
      font-size: 18px !important;
      text-align: right;

      @media #{$medium} {
        font-size: 20px !important;
      }
    }
  }
}

.gridItem {
  @media #{$medium} {
    margin-bottom: 1rem;
  }

  &_title {
    @include title;
    color: $primary !important;
  }
}

.totals {
  padding: 1rem;
  margin-bottom: 1rem;

  @media #{$medium} {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding: 2rem;
  }

  &_title {
    @include title;
    color: $primary !important;
    font-weight: bold !important;
    padding-bottom: 1rem;

    @media #{$medium} {
      padding: 0;
    }
  }

  &_amounts {
    align-items: center;
    display: flex;
    flex-direction: column;

    @media #{$medium} {
      flex: 1;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 1.5rem;
    }

    @media #{$large} {
      flex: 1;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 3rem;
    }
  }

  &_amount {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media #{$medium} {
      flex-direction: column-reverse;
      justify-content: center;
      width: auto;
    }

    @media #{$large} {
      flex-direction: row;
    }
  }

  &_label {
    @include primary;
  }

  &_number {
    @include number;
    padding-left: 1rem;
  }
}
