@import '../appearance/styles/variables.scss';

.reports {
  &_dropdown {
    padding: 10px,
  }

  &_pie {
    position: relative;
    height: 250px;

    @media #{$medium} {
      height: auto;
    }
  }

  &_summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    @media #{$medium} {
      flex-direction: row;
    }
  }

  &_expenses-percent {
    color: $success;
    &--red {
      color: $error;
    }
  }
}
