@import (reference) '../../less/button.less';
@import (reference) '../../less/variables.less';

.budget {
  &_content {
    padding: 2rem;

    @media only screen and (max-width: 640px) {
      padding: 1rem;
    }

    &-header {
      align-items: center;
      display: flex;
      justify-content: space-around;
      padding: 0 1rem;

      @media only screen and (max-width: 640px) {
        flex-direction: column;
        justify-content: center;
      }
    }

    &-text {
      align-items: center;
      display: flex;
    }
  }

  &_label {
    font-family: @font-archivo;
    margin: 0;
    padding-right: 1rem;
  }

  &_number {
    font-family: @font-oswald;
    font-weight: normal;
    margin: 0;

    &-edit {
      &:focus,
      &:hover {
        border: 1px solid @blue-green;
        cursor: pointer;
      }
    }
  }

  &_input {
    margin: 1rem 0;
    padding: 0.5rem 0;
    text-align: right;
    width: 5rem;
  }

  &_header {
    align-items: center;
    border-bottom: 1px solid @very-light-gray;
    color: @blue-green;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem 1rem 0;

    @media only screen and (max-width: 640px) {
      font-size: 0.9rem;
      padding: 1rem 0 0;
    }

    &-buttons {
      align-items: center;
      display: flex;
    }
  }

  &_export {
    .button;
    margin-left: 1rem;

    @media only screen and (max-width: 640px) {
      margin-left: 0.5rem;
      padding: 0.5rem;
    }
  }

  &_dropdown {
    min-width: 5rem !important;

    @media only screen and (max-width: 640px) {
      left: auto !important;
    }

    &-option {
      color: @black;
      font-family: @font-oswald;
      margin: 0;

      &:focus,
      &:hover {
        color: @blue-green;
        cursor: pointer;
      }
    }
  }

  &_tables {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    &-ideal {
      padding-top: 2rem;
    }

    @media only screen and (max-width: 1180px) {
      display: block;
      flex-direction: column;
      overflow-x: auto;
    }
  }
}