@import (reference) '../../less/button.less';
@import (reference) '../../less/variables.less';

.budget {
  &_content {
    padding: 2rem;

    @media only screen and (max-width: 640px) {
      padding: 1rem;
    }
  }

  &_label {
    font-family: @font-archivo;
    margin: 0 0 1rem 0;
  }

  &_header {
    align-items: center;
    border-bottom: 1px solid @very-light-gray;
    color: @blue-green;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem 1rem 0;

    @media only screen and (max-width: 640px) {
      font-size: 0.9rem;
      padding: 1rem 0 0;
    }

    &-buttons {
      align-items: center;
      display: flex;
    }
  }

  &_export {
    .button;
    margin-left: 1rem;

    @media only screen and (max-width: 640px) {
      margin-left: 0.5rem;
      padding: 0.5rem;
    }
  }

  &_dropdown {
    min-width: 5rem !important;

    @media only screen and (max-width: 640px) {
      left: auto !important;
    }

    &-option {
      color: @black;
      font-family: @font-oswald;
      margin: 0;

      &:focus,
      &:hover {
        color: @blue-green;
        cursor: pointer;
      }
    }
  }

  &_tables {
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;

    &-actual {
      align-self: flex-start;
    }

    @media only screen and (max-width: 1170px) {
      display: block;
      flex-direction: column;
      overflow-x: auto;

      &-ideal {
        padding-top: 2rem;
      }
    }
  }
}