@import (reference) '../../less/variables.less';

.authHeader {
  align-items: center;
  border-bottom: 1px solid @very-light-gray;
  display: flex;
  justify-content: flex-start;
  margin: 0 2rem;

  @media only screen and (max-width: 640px) {
    // background-image: linear-gradient(#0C98AC, #62D4D9);
    background-color: @blue-green;
    border-bottom: none;
    margin: 0;
  }

  &_icon {
    color: @blue-green;
    display: none;

    @media only screen and (max-width: 640px) {
      color: @white;
      display: block;
      font-size: 1.5rem;
      padding-left: 1rem;
      position: absolute;
    }
  }

  &_title {
    color: @blue-green;
    -webkit-user-select: none; /* Chrome/Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    @media only screen and (max-width: 640px) {
      color: @white;
      font-size: 1.8rem;
      margin: 1rem auto;
    }
  }
}
  
.nonHeader {
  align-items: center;
  display: flex;

  &_title {
    color: @white;
    padding-left: 1rem;

    @media only screen and (max-width: 640px) {
      font-size: 1.8rem;
    }
  }

  &_circle {
    color: @white;
  }
  
  &_icon {
    color: @blue-green;
  }
}