@import (reference) '../../less/variables.less';
  
.nonHeader {
  align-items: center;
  display: flex;

  &_title {
    color: @white;
    padding-left: 1rem;
  }

  &_circle {
    color: @white;
  }
  
  &_icon {
    color: @blue-green;
  }
}