@import '../appearance/styles/variables.scss';

.categoryModal {
  &_loading {
    padding: 5rem 0 !important;
  }

  &_grid {
    align-items: center;
    justify-content: center;
    padding: 1rem;
    overflow: hidden;
    width: 95% !important;

    @media #{$medium} {
      width: 75% !important;  
    }
  }

  &_error {
    color: $error;
    font-size: 16px;
    padding: 0 1rem;
    text-align: center;
  }
}
