@import '../appearance/styles/variables.scss';

.table {

  @media #{$medium} {
    margin: 0 2rem;
  }

  &_cell {
    padding-left: 1.5rem !important;
  }

  &_filters {
    @media #{$small} {
      margin-right: 1.5rem;
    }
  }

  &_wrapper {
    overflow-x: auto;
  }

  &_toolbar {
    display: flex !important;
    flex-direction: column !important;
  }

  &_row {
    &:hover {
      cursor: pointer;
    }
  }
}
