@import '../appearance/styles/variables.scss';

.filters {
  padding: 1rem;

  &_header {
    align-items: center;
    display: flex;
  }

  &_button {
    &-disabled {
      &:hover {
        cursor: not-allowed;
      }
    }
  }
}
