@import '../appearance/styles/variables.scss';

.forgotForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &_success {
    @include title;
    padding: 2rem 0;
  }

  &_error {
    color: $error;
    font-size: 16px;
    padding: 0 1rem;
    text-align: center;
  }
}
