@import '../appearance/styles/variables.scss';

.goalModal {
  &_loading {
    padding: 5rem 0 !important;
  }

  &_row {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  &_fieldText {
    padding: 0 1rem;

    &--spend {
      padding-right: 0;
      max-width: 8rem;
      width: 100%;
    }
  }

  &_grid {
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    overflow: hidden;
  }

  // &_freq {
  //   margin: 0 auto;
  //   @media screen and (min-width: 600px) {
  //     margin: auto;
  //   }
  // }

  &_error {
    color: $error;
    font-size: 16px;
    padding: 0 1rem;
    text-align: center;
  }
}
