@import '../appearance/styles/variables.scss';

.layout {
  align-items: flex-start;
  display: flex;
  justify-content: flex-start;

  &_header {
    display: none;

    @media #{$medium} {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &_title {
    @include heading2;
    color: $primary !important;
    font-weight: bold !important;
  }

  &_headerContent {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &_divider {
    width: 100%;
  }

  &_container {
    padding: 5rem 1rem;
    width: 100%;

    @media #{$medium} {
      padding: 2rem;
    }
  }
}

.transactions {
  padding: 5rem 1rem;
  @media #{$x-small} {
    width: 91% !important;
  }
  @media only screen and (max-width: 482px) and (min-width: 375px) {
    width: 93% !important;
  }
  @media #{$medium} {
    padding: 2rem;
    width: 68% !important;
  }
  @media #{$large} {
    width: 75% !important;
  }
  @media #{$x-large} {
    width: 100% !important;
  }
  @media only screen and (max-width: 1066px) and (min-width: 1038px) {
    width: 85% !important;
  }
  @media only screen and (max-width: 1206px) and (min-width: 1066px) {
    width: 85% !important;
  }
  @media only screen and (max-width: 1228px) and (min-width: 1206px) {
    width: 95% !important;
  }
  @media only screen and (max-width: 1256px) and (min-width: 1228px) {
    width: 97% !important;
  }
}
