@import '../appearance/styles/variables.scss';

.navList {
  padding-top: 1rem;
  text-align: center;

  &_icon {
    padding-bottom: 1rem;
  }

  &_circle {
    color: $white;
  }
  
  &_icon {
    color: $primary;
  }
}
