@import '../appearance/styles/variables.scss';

.passwordModal {
  &_loading {
    padding: 5rem 0 !important;
  }

  &_loading {
    padding: 5rem 0 !important;
  }

  &_form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}
