@import '../appearance/styles/variables.scss';

.signupForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &_error {
    color: $error;
    font-size: 16px;
    padding: 0 1rem;
    text-align: center;
  }

  &_gridContainer {
    justify-content: center;

    @media #{$medium} {
      justify-content: flex-start;
    }
  }
}
