@import '../appearance/styles/variables.scss';

.transModal {
  &_tabs {
    width: 100%;
  }

  &_activeTab {
    color: $primary !important;
  }

  &_fields {
    align-items: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    padding: 1rem 0 !important;
    width: 100% !important;
  }

  &_section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100% !important;

    @media #{$medium} {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  &_error {
    color: $error;
    font-size: 16px;
    padding: 0 1rem;
    text-align: center;
  }

  &_gridContainer {
    justify-content: center;

    @media #{$medium} {
      justify-content: flex-start;
    }
  }
}
