@import '../appearance/styles/variables.scss';

.transModal {
  &_tabs {
    width: 100%;
  }

  // &_tab {
  //   width: 100%;
  // }

  &_fields {
    align-items: center !important;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
  }

  &_error {
    color: $error;
    font-size: 16px;
    padding: 0 1rem;
    text-align: center;
  }

  &_gridContainer {
    justify-content: center;

    @media #{$medium} {
      justify-content: flex-start;
    }
  }
}
