@import (reference) '../../less/variables.less';

.addGoalDialog {
  &_section {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
  }

  &_input {
    margin: 1rem 0;
    padding: 0.5rem 0;
    width: 10rem;

    &-amount {
      text-align: right;
    }
  }

  &_group {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 640px) {
      flex-direction: column;
    }
  }

  &_allYear {
    align-items: center;
    display: flex;

    &-label {
      padding-left: 0.5rem;
    }
  }

  &_date {
    padding: 0 1rem;
  }
}