@import (reference) '../../less/variables.less';

.table {
  border: 1px solid @blue-green;
  border-collapse: collapse;

  &_wrapper {
    overflow-x: auto;
  }

  &_header,
  &_heading,
  &_body,
  &_row,
  &_data {
    border: 1px solid @blue-green;
    border-collapse: collapse;
  }

  &_header {
    background-color: @blue-green;
    color: @white;
  }

  &_heading {
    padding: 0.5rem;

    &-header {
      align-items: center;
      display: flex;

      &:focus,
      &:hover {
        cursor: pointer;
      }
    }

    &-icon {
      padding-left: 0.5rem;
    }
  }

  &_icons {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: auto 0;
  }

  &_icon {
    color: @blue-green;
    padding: 0.5rem;

    &:focus,
    &:hover {
      cursor: pointer;
    }
  }
}